<h3>一覧</h3>
<% @lists.each do |list| %>
<p><%= link_to list.title, list_path(list.id)  %></p>
<p><%= list.body %></p>
<% if list.image.attached? %>
<%= image_tag list.image, size: "200x200" %>
<% else %>
<%= image_tag 'no_image', size: "200x200" %>
<% end %>
<% end %>
